<nav class="header">
  <div (click)="toHome()" class="logo">BREVIPOST</div>
  <ul class="header-nav">
    <li
      routerLink="/app/feed"
      routerLinkActive="active"
      class="header-nav-item"
    >
      Feed
    </li>
    <li
      routerLink="/app/users"
      routerLinkActive="active"
      class="header-nav-item"
    >
      Users
    </li>
    <li
      routerLink="/app/profile"
      routerLinkActive="active"
      class="header-nav-item"
    >
      Profile
    </li>
  </ul>
</nav>
