@import "../../partials/variables";
@import "../../partials/buttons";

.user-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-item {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-followers {
  color: #999;
  font-size: 0.9em;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author-image {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
  img {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.author-details {
  h3 {
    margin: 0;
  }
  .time-stamp {
    color: #999;
    font-size: 0.9em;
  }
}

.custom-button {
  @include write-button($accent-color);
}

.custom-following-button {
  @include following-button($accent-color);
}

@media (max-width: 768px) {
  .user-container {
    padding: 10px;
  }

  .user-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    margin-top: 10px;
    width: 100%;
  }
}
