<section class="feed-container">
  <CustomButton [buttonName]="'Write'" (click)="openWrite()" />
  <post-dialog [isDialogOpen]="openDialogBox" (closeWrite)="openWrite()" />
  <h2 class="feed-title">News Feed</h2>
  <div class="feed-list">
    <div class="feed-item">
      <div class="author-info">
        <div class="author-image"></div>
        <div class="author-details">
          <h3>Arjun Reddy</h3>
          <p class="time-stamp">10 mins ago</p>
        </div>
      </div>
      <p class="feed-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="feed-interaction">
        <!-- Interaction buttons go here (like, comment, etc.) -->
      </div>
    </div>
    <!-- End of post block -->
  </div>
</section>
