@import "../../partials/variables";
@import "../../partials/buttons";

.feed-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.button-container {
  padding: 0 0 1rem 0;
}

.custom-button {
  @include write-button($accent-color);
}

@media (max-width: 768px) {
  .feed-container {
    padding: 10px;
  }
}
