<section class="feed-container">
  <div class="button-container">
    <CustomButton [buttonName]="'Write'" (click)="toggleWrite()" />
  </div>

  <post-dialog [isDialogOpen]="openDialogBox" (closeWrite)="toggleWrite()" />
  @for (post of posts$ | async; track post.uid) {
  <div class="feed-item">
    <div class="author-info">
      <div class="author-image">
        <img
          [src]="post.authorProfilePicture"
          (error)="handleImageError($event)"
          alt="Author"
        />
      </div>

      <div class="author-details">
        <h3>{{ post.authorName }}</h3>
        <p class="time-stamp">
          {{ post.timestamp.toDate() | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
    <p class="feed-content">{{ post.content }}</p>
  </div>
  }
</section>
