@import "../../partials/variables";

.container {
  position: relative;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ed546b;
  background-image: repeating-linear-gradient(
    45deg,
    #ed546b,
    #ed546b 5px,
    transparent 5px,
    transparent 10px
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .heading {
    font-weight: bold;
  }
  p {
    padding: 0 20px;
    text-align: center;
  }
}

.input-group {
  width: 100%;
  max-width: 300px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.error-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-message {
  color: #ff0000;
  text-align: center;
  font-size: 0.8rem;
}
.error-message.ng-star-inserted {
  visibility: visible;
  height: auto;
}

button {
  background-color: $accent-color;
  color: white;
  padding: 14px 20px;
  border: 0.5px solid $accent-color;
  cursor: pointer;
  width: 250px;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: white;
  color: $accent-color;
  padding: 14px 20px;
  border: 0.5px solid $accent-color;
  cursor: not-allowed;
  width: 250px;
  border-radius: 4px;
}

.google-sign-in {
  background: none;
  border: none;
  color: #757575;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
}

.google-sign-in:hover {
  text-decoration: underline;
}

.register-link {
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .input-group {
    width: 400px;
  }
  button {
    width: 300px;
  }
  button:disabled {
    width: 300px;
  }
}
