.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 10px 0;
}

.author-image {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
  grid-column: 1;
  img {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.user-details {
  grid-column: 2;

  .user-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
  }

  .user-stats {
    display: flex;
    gap: 10px;
  }
}
