<section class="profile-container">
  @if (userDetails) {
  <div class="user-profile">
    <div class="author-image"></div>
    <div class="user-details">
      <p class="user-name">{{ userDetails.name }}</p>
      <div class="user-stats">
        <p>Posts: {{ userDetails.postsCount }}</p>
        <p>Followers: {{ userDetails.followerCount }}</p>
        <p>Following: {{ userDetails.followingCount }}</p>
      </div>
    </div>
  </div>
  }
  <ul class="navigation-header">
    <li routerLink="/app/profile/posts" routerLinkActive="active">Posts</li>
    <li routerLink="/app/profile/followers" routerLinkActive="active">
      Followers
    </li>
    <li routerLink="/app/profile/following" routerLinkActive="active">
      Following
    </li>
  </ul>
  <router-outlet></router-outlet>
</section>
