/* You can add global styles to this file, and also import other style files */
@import "./partials/variables";

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Luckiest";
  src: local("Luckiest"),
    url("./assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Poppins", sans-serif;
  color: $font-color;
}
body,
html {
  height: 100%;
  margin: 0;
}
